
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 
body{
}
.img-upload{
    width: 90%;
  }

  img{
    margin-top: 20px;
  }